<%- include('partials/header') -%>

<div class="container">
    <h1 class="title">Game of Phones</h1>

    <div class="card shadow mx-auto" style="width: 18rem; height: 24rem;">
        <div class="card-body">
            <p class="card-text" style="font-size: 24px;"><%= card.prompt %></p>

        </div>
    </div>

    <form action="/play" style="margin-top: 5vh;">
        <div class="col text-center">
            <button class="btn btn-dark shadow" type="submit">Next Card</button>
        </div>
    </form>
    
</div>


<%- include('partials/footer') -%>